/* 디폴트 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nanum Gothic', sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding-left: 0;
}

/* 헤더 */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  margin-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  line-height: 85%;
  letter-spacing: -0.8px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
}

.navigation {
  display: flex;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation-item {
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation-item a {
  padding: 9px 20px;
  text-decoration: none;
  color: inherit;
}

/* main - about */

main {
  font-size: 1.05rem;
  line-height: 1.8;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  margin-bottom: 8.8rem;
}

.greeting {
  font-size: 3.2rem;
  line-height: 80px;
  margin-bottom: 4rem;
}

.jobtitle-text {
  margin-bottom: 0.65rem;
}

.my-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.5%;
}

.my-story p {
  margin-bottom: 10px;
}

.name-text {
  font-size: 1.2rem;
  line-height: 1.8;
}

.jobtitle-text {
  opacity: 0.6;
}

/* main - projects */

.projects {
  padding-bottom: 8.8rem;
}

.projects-header {
  margin-bottom: 3.4rem;
}

.projects h2 {
  font-size: 2.25rem;
  margin-bottom: 0.63rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.project:hover img {
  transform: scale(1.02);
}

.project:hover .project-detail-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.project-preview-img {
  border-radius: 2px;
  margin-bottom: 2.5rem;
  transition: transform 400ms;
  cursor: pointer;
}

.project-name {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
}

.text-light {
  opacity: 0.7;
}

.project-summary {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-detail-link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.fa-solid {
  font-size: 0.8rem;
}