/* 디폴트 스타일 */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Nanum Gothic', sans-serif;
  color: #1a1b1f;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}



/* 헤더 */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  margin-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
} 

.logo {
  line-height: 85%;
  letter-spacing: -0.8px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Titillium Web', sans-serif;
}

.navigation {
  display: flex;
  list-style: none;
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.navigation-item {
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation-item a {
  padding: 9px 20px;
  text-decoration: none;
  color: inherit;
}

/* main - about */

main {
  line-height: 1.8;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}

.about {
  margin-bottom: 8.8rem;
}

.greeting {
  font-size: 3.2rem;
  line-height: 80px;
  margin-bottom: 4rem;
}

.jobtitle-text {
  margin-bottom: 0.65rem;
}

.my-story {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.5%;
  line-height: 2;
  color: rgb(70, 70, 70);
}

.my-story p {
  margin-bottom: 10px;
}

.name-text {
  font-size: 1.2rem;
  line-height: 1.8;
}

.jobtitle-text {
  opacity: 0.6;
}

.highlight-text {
  font-weight: 600;
}

/* projects */

.projects {
  padding-bottom: 8.8rem;
}

.projects-header {
  margin-bottom: 3.4rem;
}

.projects h2 {
  font-size: 2.25rem;
  margin-bottom: 0.63rem;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.projects-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  list-style: none;
  padding-left: 0;
}

.project:hover img {
  transform: scale(1.02);
}

.project:hover .project-detail-text {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.project-preview-img {
  border-radius: 2px;
  margin-bottom: 2.5rem;
  transition: transform 400ms;
  cursor: pointer;
}

.project-name {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 5px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif;
}

.text-light {
  opacity: 0.7;
}

.project-summary {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-detail-link {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

.fa-solid {
  font-size: 0.8rem;
}

/* contact */

.contact {
  background: #f4f4f4;
  padding: 90px 80px;
}

.contact h2 {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  margin-bottom: 0.65rem;
} 

.contact form {
  width: 70%;
}

.contact-intro {
  margin-bottom: 2.5rem;
}

.form-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  margin-bottom: 1.1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.contact label {
  margin-bottom: 0.65rem;
}

.text-field {
  padding: 6px 20px;
  border: 1px solid #e4e4e4;
  transition: border-color 400ms ease;
}

.text-field:focus {
  border-color: #43464d;
  outline: 0;
}

.form-message {
  grid-column: 1 / 3;
}

.form-message textarea {
  width: 100%;
}

.form-button {
  padding: 6px 20px;
  background-color: #1a1b1f;
  color: white;
  cursor: pointer;
  border: none;
  transition: background-color 400ms;
}

.form-button:hover {
  background-color: #32343a;
  color: #fff
}

/* EZ Cocktails intro */

.project-page-intro {
  line-height: 2;
  margin-bottom: 8.5rem;
}

.project-page-intro h2 {
  font-family: 'Montserrat';
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0.63rem;
}

.project-page-intro h3 {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.project-page-intro h4 {
  color: #1a1b1f;
  margin-bottom: 0.63rem;
}

.project-page-summary {
  color: rgb(70, 70, 70);
  margin-bottom: 4rem;
}

.project-page-intro-articles-wrapper {
  display: flex;
  gap: 50px;
  color: rgb(70, 70, 70);
}

/* EZ cocktails 개발 프로세스 */

.ez-cocktails-process {
  line-height: 2;
  margin-bottom: 8.5rem;
  color: rgb(70, 70, 70);
}

.process-summary {
  margin-bottom: 2.5rem;
}

.ez-cocktails-process h3 {
  font-size: 1.8rem;
  margin-bottom: 0.63rem;
  font-weight: 400;
}

.process-articles-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px 50px;
}

.process-capture {
  margin-bottom: 1.8rem;
}

/* 문제 및 해결 과정 */

.troubleshooting {
  color: rgb(70, 70, 70);
  margin-bottom: 5.5rem;
}

.troubleshooting-article {
  padding: 45px 0;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 30px;
}

.troubleshooting h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

.troubleshooting h4 {
  font-size: 1.25rem;
  margin-bottom: 5px;
  font-weight: 400;
}

.troubleshooting h5 {
  font-size: 1.05rem;
  font-weight: 400;
  color: black;
  margin-bottom: 0.3rem;
}

.troubleshooting-img {
  margin-bottom: 1.8rem;
}

.troubleshooting-desc {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px; */
  line-height: 2;
}

.troubleshooting-desc-item {
  margin-bottom: 0.63rem;
}

.troubleshooting-text {
  margin-bottom: 0.63rem;
}

/* 배운 점 */

.lessons-learned {
  line-height: 2;
  padding-bottom: 2rem;
}

.lessons-learned h3 {
  font-size: 1.8rem;
  margin-bottom: 0.63rem;
  font-weight: 400;
}

.lessons-learned h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.63rem;
}

.lesson {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 30px;
  margin-bottom: 1.8rem;
}

.lesson-list {
  list-style: circle;
}



